<div class="text-right">
  <div class="row">
    <div class="col-8 mx-auto my-3">
  <a href="/dashboard/new/">
  <button id="new-post" class="btn-primary btn">New
      Post</button></a>
      </div>
    
  </div>
  <h2 class="dashboard-headline text-center my-4"> Here are your posts</h2>

  {{#each posts as |post|}}

    {{> post-card post}}

  {{/each}}
</div>